div{
    padding:20px;
    padding-left:50px;
    margin:30px;
}

h1{
    color:#FAB162;

}

.dng{
    color:rgb(204, 35, 35);

}

.hr{
    text-decoration: underline;
    color:#FAB162;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hr:hover{
    color:rgb(204, 204, 204);
    cursor: pointer;
}