img{
    height:50px;
    width:50px;
    float:left;
    margin:10px;

}
h2{
    margin:0;
    font-size:20px;
    width:50%;
    display:inline-block;
    padding-top: 20px;
    
}
span{
    color:#B4D0E7;
}