/* You can add global styles to this file, and also import other style files */
html,body {
    padding:0;
    margin:0;
    background-color:var(--primary-bg-clr);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary-txt-clr);
}
body{
  --primary-bg-clr:#2c2c2c;
  --primary-txt-clr:white;
  &.dark{
    --primary-bg-clr:white;
  --primary-txt-clr:#2c2c2c;
  }
}


::-moz-selection { /* Code for Firefox */
  color: var(--primary-bg-clr);
  background: var(--primary-txt-clr);
}

::selection {
  color: var(--primary-bg-clr);
  background: var(--primary-txt-clr);
}